<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.anwesha2k18.iitp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="info.anwesha2k18.iitp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="info.anwesha2k18.iitp.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name=".database.LocationsContentProvider"
            android:authorities="in.ac.iitp.anwesha2k17.locations"
            android:exported="false" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activities.MyProfile"
            android:label="@string/my_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.anwesha2k18.iitp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SocialActivity"
            android:label="@string/social">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.anwesha2k18.iitp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"

            android:label="Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value="info.anwesha2k18.iitp.activities.MainActivity" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".fragments.GalleryFragment" -->
        <!-- android:label="@string/gallery"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value=".activities.MainActivity" /> -->
        <!-- </activity> -->

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.anwesha2k18.iitp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.TeamActivity"
            android:label="@string/team">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.anwesha2k18.iitp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/SignIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.anwesha2k18.iitp.activities.MyProfile" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/SignUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.anwesha2k18.iitp.activities.MyProfile" />
        </activity>
        <activity
            android:name=".activities.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.anwesha2k18.iitp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.EventInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--<activity-->
        <!--android:name=".activities.DevelopersActivity"-->
        <!--android:parentActivityName=".activities.MainActivity">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="info.anwesha2k18.iitp.activities.MainActivity" />-->
        <!--</activity>-->
        <activity
            android:name=".activities.ImageLauncher"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.anwesha2k18.iitp.activities.MainActivity" />
        </activity>

        <service android:name=".database.BackgroundFetch" />

        <activity
            android:name=".activities.EventsActivityNew"
            android:label="Events"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.anwesha2k18.iitp.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.MapActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCFIHJ8vv41j95CROkdFIemDMMW7JuMPKY" />

        <activity
            android:name=".activities.SponsorsActivity"
            android:label="Sponsors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.anwesha2k18.iitp.activities.MainActivity" />
        </activity>
    </application>

</manifest>