<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iitp.mayank.celesta2k17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EventsActivity"
            android:label="@string/events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MyProfile"
            android:label="@string/my_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.galleryEvent"
            android:label="@string/gallery">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NjackEvents"
            android:label="@string/NJACK_Events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.SparkonicsEvents"
            android:label="@string/Sparkonics_Events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.ScmeEvents"
            android:label="@string/SCME_Events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.SaeEvents"
            android:label="@string/SAE_Events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.ThresholdEvents"
            android:label="@string/Threshold_Events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EventsActivity" />
        </activity>
        <activity
            android:name=".activities.AceEvents"
            android:label="@string/ACE_Events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EventsActivity" />
        </activity>
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.RegisterActivity"></activity>
    </application>

</manifest>